@font-face {
    font-family: "bakbakone";
    src: url("/font/bakbakoneregular.ttf");
}

h1, h2, h3, a {
    font-family: "bakbakone";
}

main {
    position: relative;
}

main div.tf-v1-widget {
    position: absolute;
}